.para-container-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  height: 40vh;
  background-color: #0c0b10;
  opacity: 0.8;
  width: 100vw;
  margin-top: 150px;
}

.faq-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-count: 4;
  column-gap: 60px;
}

@media screen and (max-width: 576px) {
  .faq-container {
    column-count: 3;
    column-gap: 30px;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;
}
.google-icon {
  color: #ffffff;
  height: 16px;
  width: 14px;
  margin-right: 25px;
  cursor: pointer;
}
.google-icon:hover {
  text-decoration: underline;
  color: blue;
}

@media screen and (min-width: 576px) {
  .google-icon {
    height: 21px;
    width: 18px;
    margin-right: 40px;
  }
}
.you-tube-icon {
  color: #ffffff;
  height: 16px;
  width: 14px;
  cursor: pointer;
}
.you-tube-icon:hover {
  text-decoration: underline;
  color: #808080;
}

@media screen and (min-width: 576px) {
  .you-tube-icon {
    height: 21px;
    width: 18px;
  }
}

.contact-details {
  display: flex;
  justify-content: flex-start;
}
.contact-us-para {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0px;
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
.span-contact {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0px;
  color: #808080;
}
@media screen and (min-width: 576px) {
  .contact-us-para {
    font-size: 16px;
  }
}

.contact-us-para:hover {
  text-decoration: underline;
  color: blue;
}
